{% extends "baseform.html" %}
{% load static %}
{% block title %}Niki - Réinitialisation du mot de passe{% endblock %}
{% block navform %}{% endblock %}
{% block content %}

<style type="text/css">
		body > .grid {
		height: 100%;
	  	}
</style>

<div class="ui middle aligned center aligned grid">
	<div class="column">
    	<h2 class="ui blue image header">
      		<img src="{% static "images/logocarre.png" %}" class="image" alt="Logo">
      		<div class="content">
        	Réinitialisation du mot de passe
      		</div>
    	</h2>
    <div class = "ui message">
		Le nouveau mot de passe a été défini. Vous pouvez maintenant vous <a href = "{% url "login" %}">connecter</a> !
    </div>
  	</div>
</div>
{% endblock %}