{% extends "baseform.html" %}
{% load static %}
{% block title %}Niki - Réinitialisation du mot de passe{% endblock %}
{% block navform %}{% endblock %}
{% block content %}

<style type="text/css">
		body > .grid {
		height: 100%;
	  	}
</style>

<div class="ui middle aligned center aligned grid">
	<div class="column">
    	<h2 class="ui blue image header">
      		<img src="{% static "images/logocarre.png" %}" class="image">
      		<div class="content">
        	Réinitialisation du mot de passe
      		</div>
    	</h2>
    <form class="ui large form" action ="{% url "password_reset" %}" method="POST">
		{% csrf_token %}
      	<div class="ui stacked segment">
        	{% for field in form %}
                {% if field.errors %}
                <div class = "error field">
                {% else %}
                <div class = "field">
                {% endif %}
                {{ field.label_tag }}
          		<div class="ui left icon input">
            		<i class="mail icon"></i>
					{{ form.email }}
          		</div>
                {% if field.errors %}
                    <div class = "ui pointing red basic label">
                        {% for error in field.errors %}
                            {{ error|title }}
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            {% endfor %}
			<button class = "ui fluid large blue submit button" type = "submit" value = "Submit">Envoyer</button>
      	</div>
    </form>
    <div class = "ui message">
		Retour à l'<a href="{% url "index" %}">accueil</a>
	</div>
  	</div>
</div>
{% endblock %}