{% extends "baseform.html" %}
{% load static %}
{% block title %}Niki - Réinitialisation du mot de passe{% endblock %}
{% block navform %}{% endblock %}
{% block content %}

<style type="text/css">
		body > .grid {
		height: 100%;
	  	}
</style>

<div class="ui middle aligned center aligned grid">
	<div class="column">
    	<h2 class="ui blue image header">
      		<img src="{% static "images/logocarre.png" %}" class="image">
      		<div class="content">
        	Réinitialisation du mot de passe
      		</div>
    	</h2>
    <div class = "ui message">
		Un lien de réinitialisation de mot de passe vous a été envoyé par email. Veuillez vérifier vos spams.
	</div>
	<div class = "ui message">
		Retour à l'<a href="{% url "index" %}">accueil</a>
	</div>
  	</div>
</div>
{% endblock %}