{% extends "baseform.html" %}
{% load static %}
{% block title %}Niki - Evènements - Inscription{% endblock %}
{% block formlinks %}
<a class="item" href = "{% url "listevents" %}">
	<i class="bars icon"></i>
	Evènements
</a>
{% endblock %}
{% block content %}

<div class="ui center aligned container">
	<h2 class="ui blue center aligned header">
  		<div class="content">
    		Inscription à l'évènement - {{ product_to_sub_instance.nom }}
  		</div>
	</h2>
	<div class="ui segment">
		<table class = "ui very basic padded table">
			<tr>
				<td class = "left aligned">
					{{ product_to_sub_instance.description }}
				</td>
				<td class = "center aligned">
					<b>{{ product_to_sub_instance.prix }} €</b>
				</td>
			</tr>
		</table>
	</div>
	<form class="ui large fluid form" action ="{% url "subproductevent" step product_to_sub_instance.pk %}" method="POST">
		{% csrf_token %}
		<div class="ui stacked segment">
		{% for field in form %}
			{% if field.errors %}
				<div class = "error field">
			{% else %}
 				<div class = "inline field">
			{% endif %}
					{{ field.label_tag }}
					{{ field }}
				</div>
		{% endfor %}
			<button class = "ui right labeled icon button blue" type = "submit" value = "Submit"><i class="right arrow icon"></i>Suivant</button>				
		</div>
	</form>



{% endblock %}