{% extends "baseform.html" %}
{% load static %}
{% block title %}Niki - Evènements - Bucquage{% endblock %}
{% block formlinks %}
<a class="item" href = "{% url "listeventstobucque" %}">
	<i class="euro sign icon"></i>
	Bucquage évènements
</a>
{% endblock %}
{% block content %}
<div class="ui center aligned container">
    <form class="ui large fluid form" enctype="multipart/form-data" action ="{% url "eventtobucque" event %}" method="POST">
		{% csrf_token %}
		<div class="ui stacked segment">
		{% for field in form %}
			{% if field.errors %}
				<div class = "error field">
			{% else %}
 				<div class = "inline field">
			{% endif %}
					{{ field.label_tag }}
					{{ field }}
				</div>
		{% endfor %}
			<button class = "ui right labeled icon button blue" type = "submit" value = "Submit"><i class="upload icon"></i>Importer</button>				
		</div>
	</form>
</div>

{% endblock %}