{% extends "baseform.html" %}
{% load static %}
{% block title %}Niki - Administration{% endblock %}
{% block content %}
<div class ="ui container">
	<h2 class="ui blue center aligned header">
  		<div class="content">
    		Administration des demandes
  		</div>
	</h2>
	<div class="ui stacked center aligned segment">
		{% if list %}
		<table class = "ui celled padded table">
			<thead>
			<tr>
				<th class = "center aligned single line">Demandeur</th>
				<th class = "center aligned single line">Descriptif</th>
				<th class = "center aligned single line">Adresse MAC</th>
				<th class = "center aligned single line">Accepter</th>
				<th class = "center aligned single line">Refuser</th>
			<tr>
			</thead>
			{% for mac in list %}
				<tr>
					<td class = "ui center aligned single line" data-title="test title" data-content="test content" >{{ mac.proprietaire.last_name }}</td>
					<td class = "center aligned single line">{{ mac.nom }}</td>
					<td class = "center aligned single line">{{ mac.mac }}</td>
					<td class = "center aligned single line"><a class = "ui green button" href="{% url "activatedevice" mac.pk %}">Accepter</a></td>
					<td class = "center aligned single line"><a class = "ui red button" href="{% url "deletedevice" mac.pk %}">Refuser</a></td>
				</tr>
			{% endfor %}
		</table>
		{% else %}
			<p>Pas de demande en attente</p>
		{% endif %}
	</div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

		$('.ui.center.aligned.single.line').popup({
		debug : true
		});

</script>
{% endblock %}